$black: #1E1E1E;
$grey: #39363D;
$l-grey: #BCBEC0;
$font: 'Irish Grover', cursive;

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}