<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/cfa5b23a00.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <title>Harry Potter Books</title>
</head>
<body>
  <h1 class="hidden">Books of Harry Potter</h1>
  <header class="main-header">
    <h1 class="main-title">Books of</h1>  
    <img class="logo" src="images/logo.svg" alt="Hary Potter logo">
  </header>
  
  <main>

      <section id="book1" class="book">
        <div class="title-con">
          <h1 class="title">Harry Potter<br><span>and the</span><br>Philosophers Stone</h1>
          <object data="images/jewel.svg" type="image/svg+xml" class="svg-graphic" id="jewel"></object>
        </div>
        <div class="info">
            <i class="fas fa-angle-down see-more" data-target="1"></i>
        </div>
      </section>

      <section id="book2" class="book">
          <div class="title-con">
            <h1 class="title">Harry Potter<br><span>and the</span><br>Chamber of Secrets</h1>
            <object data="images/snake.svg" type="image/svg+xml" class="svg-graphic" id="snake"></object>
          </div>
          <div class="info">
            <i class="fas fa-angle-down see-more" data-target="2"></i>
          </div>
        </section>

        <section id="book3" class="book">  
          <div class="title-con">
            <h1 class="title">Harry Potter<br><span>and the</span><br>Prisoner of Azkaban</h1>
            <object data="images/prison.svg" type="image/svg+xml" class="svg-graphic" id="prison"></object>
          </div>
          <div class="info">
            <i class="fas fa-angle-down see-more" data-target="3"></i>
          </div>
        </section>

        <section id="book4" class="book">
          <div class="title-con">
            <h1 class="title">Harry Potter<br><span>and the</span><br>Goblet of Fire</h1>
            <object data="images/goblet.svg" type="image/svg+xml" class="svg-graphic" id="goblet"></object>
          </div>
          <div class="info">
            <i class="fas fa-angle-down see-more" data-target="4"></i>
          </div>
        </section>

        <section id="book5" class="book">
          <div class="title-con">
            <h1 class="title">Harry Potter<br><span>and the</span><br>Order of the Phoenix</h1>
            <object data="images/phoenix.svg" type="image/svg+xml" class="svg-graphic" id="phoenix"></object>
          </div>
          <div class="info">
            <i class="fas fa-angle-down see-more" data-target="5"></i>
          </div>
        </section>

        <section id="book6"class="book">
          <div class="title-con">
            <h1 class="title">Harry Potter<br><span>and the</span><br>Half-Blood Prince</h1>
            <object data="images/cauldron.svg" type="image/svg+xml" class="svg-graphic" id="cauldron"></object>
          </div>
          <div class="info">
            <i class="fas fa-angle-down see-more" data-target="6"></i>
          </div>
        </section>

        <section id="book7" class="book">
          <div class="title-con">
            <h1 class="title">Harry Potter<br><span>and the</span><br>Deathly Hallows</h1>
            <object data="images/deathly-hallows.svg" type="image/svg+xml" class="svg-graphic" id="hallows"></object>
          </div>
          <div class="info">
            <i class="fas fa-angle-down see-more" data-target="7"></i>
          </div>
        </section>

        <section class="popover">
          
          <h4 class="hidden">Info</h4>
          
          <div class="rating con">
            <img class="star-icon icon" src="images/star.svg" alt="star icon">
            <p class="rating-text"></p>
          </div>
          
          <div class="year con">
            <img class="book-icon icon" src="images/book.svg" alt="book icon">
            <p class="year-text"></p>
          </div>
          
          <div class="age con">
            <img class="harry-icon icon" src="images/harry.svg" alt="harry icon">
            <p class="age-text"></p>
          </div>
          
          <div class="villain con">
            <img class="villain-icon icon" src="images/devil.svg" alt="villain icon">
            <p class="villain-text"></p>
          </div>
          
        </section>
  </main>
    <script src="js/main.js"></script>
</body>
</html>